@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");

html,
body {
  font-family: "Shadows Into Light Two", sans-serif;
  font-size: 20px;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.darkscale {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

.header {
  background-color: rgb(135, 210, 207);
  height: 2rem;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
}

.header-right,
.header-left {
  display: flex;
  gap: 20px;
  align-items: center;
}

.icon {
  height: 1rem;
  padding: 5px;
  border-radius: 5px;
}

.icon:hover,
.add-btn:hover,
button:hover,
.projects-dropdown:hover {
  background-color: rgb(211, 255, 249);
}

.main-container {
  flex: 2;
  display: grid;
  grid-template-columns: 1fr 3fr;
  min-height: calc(100vh - 2rem);
}

.sidebar {
  background-color: rgb(240, 236, 236);
}

.footer {
  background-color: rgb(135, 210, 207);
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

ul {
  list-style-type: none;
  padding-top: 1rem;
}

li {
  margin: 0.8rem 0.5rem;
  display: flex;
  gap: 0.8rem;
}

.folder-name {
  font-size: 2rem;
  margin: 1rem 1rem;
}

.item {
  display: flex;
  justify-content: space-between;
  margin: 1rem 1rem;
  border-bottom: solid rgb(224, 223, 223) 2px;
}

.add-item-modal,
.delete-check-modal,
.new-project-modal,
.add-to-project-modal,
.edit-task-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 51vw;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  border: solid rgb(135, 210, 207) 1px;
  z-index: 9999;
  opacity: 1;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

button,
.add-btn {
  background-color: rgb(240, 236, 236);
  border: solid rgb(211, 255, 249) 1px;
  border-radius: 5px;
  padding: 5px;
}

.add-btn,
.edit-btn {
  grid-area: 6/ 2/ 7/ 3;
}

.red {
  background-color: rgba(254, 150, 150, 0.38);
}

.yellow {
  background-color: rgba(248, 248, 61, 0.593);
}

.green {
  background-color: rgba(101, 198, 101, 0.443);
}

.info-container {
  padding: 1rem;
  border-radius: 10px;
  background-color: rgb(240, 236, 236);
  font-size: 0.9rem;
  font-family: "Didact Gothic", Courier, monospace;
  width: 50vw;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.item-name {
  width: 70%;
}

.new-project-modal {
  display: flex;
  justify-content: space-around;
}

.project-name-input {
  border: rgba(0, 0, 0, 0.2) solid 1px;
  border-radius: 3px;
}

.projects-dropdown {
  margin-left: 35%;
  color: rgb(79, 78, 78);
  font-size: 0.9rem;
  border-radius: 10px;
  padding-left: 1rem;
}

.new-project-btn {
  text-align: right;
  margin-right: 9%;
}

.add-to-project-modal {
  display: flex;
  justify-content: space-between;
}

#projects-select {
  border: solid 1px rgb(135, 210, 207);
  border-radius: 5px;
}

.hidden {
  display: none;
}

.close-icon {
  display: flex;
  justify-content: right;
}

h2 {
  margin-top: 0;
}

.icon-priority {
  pointer-events: none;
}
